apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-secrets
type: Opaque
stringData:
  JWT_SECRET: {{ randAlphaNum 32 | b64enc | quote }}
  COOKIE_SECRET: {{ randAlphaNum 32 | b64enc | quote }}