{{- $dbPassword := randAlphaNum 32 -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-secrets
type: Opaque
stringData:
  JWT_SECRET: {{ randAlphaNum 32 | b64enc | quote }}
  COOKIE_SECRET: {{ randAlphaNum 32 | b64enc | quote }}
  POSTGRES_USER: "medusa"
  POSTGRES_PASSWORD: {{ $dbPassword | quote }}
  DATABASE_URL: {{ printf "postgres://medusa:%s@localhost:5432/medusa" $dbPassword | quote }}